.div {
  background-color: #fff;
  display: flex;
  max-width: 595px;
  padding: 20px;
  flex-direction: column;
  margin: 30px auto;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.26);
}
.div-2 {
  background-color: rgba(228, 246, 251, 0.5);
  width: 100%;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div-3 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-3 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 66%;
  margin: 10px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-4 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-4 {
    margin-top: 40px;
  }
}
.div-5 {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.img {
  aspect-ratio: 1.02;
  object-fit: auto;
  object-position: center;
  width: 100px;
  height: 100px;
}
.div-6 {
  align-self: start;
  display: flex;
  margin-top: 5px;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
}
.div-7 {
  color: #222;
  white-space: nowrap;
  font: 600 26px/131% Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-7 {
    white-space: initial;
  }
}
.div-8 {
  color: #1c8eb5;
  margin-top: 6px;
  font: 500 16px/150% Poppins, sans-serif;
}
.div-9 {
  color: #222;
  margin-top: 14px;
  font: 400 10px/14px Poppins, sans-serif;
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 34%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-10 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  font-size: 10px;
  color: #1c8eb5;
  font-weight: bold;
  white-space: nowrap;
  line-height: 140%;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-10 {
    margin-top: 40px;
    white-space: initial;
  }
}
.div-11 {
  font-family: Poppins, sans-serif;
}
.div-12 {
  color: #222;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  margin-top: 6px;
}
.div-13 {
  font-family: Poppins, sans-serif;
  margin-top: 15px;
}
.div-14 {
  color: #000;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  margin-top: 4px;
}
.div-15 {
  font-family: Poppins, sans-serif;
  margin-top: 15px;
}
.div-16 {
  color: #222;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  margin-top: 6px;
}
.div-17 {
  align-self: center;
  margin-top: 30px;
  width: 100%;
}
@media (max-width: 991px) {
  .div-17 {
    max-width: 100%;
  }
}
.div-18 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-18 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}
.div-19 {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #222;
  font-weight: bold;
  line-height: 143%;
}
@media (max-width: 991px) {
  .div-19 {
    margin-top: 24px;
  }
}
.header-text {
  color: #0e6cc2;
  font-family: Poppins, sans-serif;
  font-weight: bold;
}
.div-21 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  margin-top: 17px;
}
.div-22 {
  color: #797979;
  margin-top: 7px;
  font: 11px/145% Prata, sans-serif;
}
.div-23 {
  margin-top: 16px;
  font: 10px/14px Poppins, sans-serif;
}
.div-24 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  margin-top: 31px;
}
.div-25 {
  color: #797979;
  font: 11px/145% Prata, sans-serif;
}
.div-26 {
  margin-top: 16px;
  font: 10px/14px Poppins, sans-serif;
}
.column-4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-4 {
    width: 100%;
  }
}
.div-27 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 14px;
  color: #222;
  font-weight: bold;
  line-height: 16px;
}
@media (max-width: 991px) {
  .div-27 {
    margin-top: 24px;
  }
}

.div-29 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  line-height: 20px;
  margin-top: 18px;
}
.div-30 {
  color: #797979;
  margin-top: 8px;
  margin-bottom: 10px;
  font: 11px Prata, sans-serif;
}

.div-32 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  line-height: 167%;
  margin-top: 27px;
}
.div-33 {
  margin-top: 4px;
  font: 11px Prata, sans-serif;
}
.div-34 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  line-height: 167%;
  margin-top: 23px;
}
.div-35 {
  margin-top: 5px;
  font: 11px Prata, sans-serif;
}
